.buy-product {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
